header{
    background-color: rgb(197, 192, 250);
    border-radius: 30px;
    text-align: center;
    padding: 2.5%;
    font-family: "Comic Sans MS", sans-serif;
}
html{
    background-color:cornsilk;
}

.info{
    background-color: powderblue;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    padding-bottom: 10%;
    border-radius: 30px;
    max-height: fit-content;
}

img{
    display: block;
    -webkit-mask-image: url(https://ianmckl.github.io/prime-pw-week-4-assignment-part-2/CSS/Mask.svg);
    mask-image: url(https://ianmckl.github.io/prime-pw-week-4-assignment-part-2/CSS/Mask.svg);
    mask-type: alpha;
    max-width: 20%;
    height: auto;
    margin: auto;
    border-radius: 30px;
}


h2{
    padding: 5%;
    font-family: "Comic Sans MS", sans-serif; 
    text-align: center;
}